<ion-view view-title="Friends">
  <ion-content class="padding">
   <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="../img/6.jpg">
      <h2>Samuel Douye Ogu</h2>
      <p>#JE4RT2</p>
    </a>

<a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

</div>
  </ion-content>
</ion-view>
