<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable calm">
<img src="img/logo.png" style="height: 40px; width: 100px; margin-top: 2px" class="title">
<!-- <i class="icon ion-search item-icon-right"></i> -->
    </ion-header-bar>
    <ion-content>
    <div class="list calm">

        <a class="item item-icon-left nav-clear menu-close" href="#/app/home">
          <i class="icon ion-ios-people"></i>
          Find People
        </a>

        <a class="item item-icon-left item-icon-right nav-clear menu-close" href="#/app/chats">
          <i class="icon ion-chatbubbles"></i>
          Chats
          <span class="badge badge-calm">0</span>
        </a>


        <a class="item item-icon-left nav-clear menu-close" href="#/app/friends">
          <i class="icon ion-person-stalker"></i>
          Friends
          <span class="badge badge-calm">29</span>
        </a>

        <div class="item item-divider">
          Hiver-commerce
        </div>

        <a class="item item-icon-left nav-clear menu-close" href="#/app/business">
          <i class="icon ion-ios-briefcase"></i>
          Business
        </a>


        <a class="item item-icon-left item-icon-right nav-clear menu-close" href="#/app/shopping">
          <i class="icon ion-bag"></i>
          Shopping
          <i class="icon ion-arrow-right-c"></i>
        </a>

        <div class="item item-divider">
          Account
        </div>

<a class="item item-icon-left nav-clear menu-close" href="#/app/settings">
          <i class="icon ion-gear-a"></i>
          Settings
        </a>
        <a class="item item-icon-left nav-clear menu-close" href="#/app/logout">
          <i class="icon ion-log-out"></i>
          Logout
        </a>
      </div>
      <!-- <ion-list>
        <ion-item nav-clear menu-close href="#/app/find">
          Find people
        </ion-item>
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list> -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<div class="tabs-icon-top tabs-striped tabs-color-calm">
    <div class="tabs">
      <a class="tab-item active" href="#/app/home" ng-click="centerOnMe()">
        <i class="icon ion-navigate"></i>
        Home
      </a>
      <a class="tab-item" href="#/app/search">
        <i class="icon ion-search"></i>
        Search
      </a>
      <a class="tab-item" href="#/app/profile">
        <i class="icon ion-gear-a"></i>
        Profile
      </a>
    </div>
  </div>